.navbar {
    background-color: rgb(52, 249, 121);
}

.btn {
    background-color: #32af75;
    color: white;
    border-color: white;
}

.ht1 h1 {

    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complaints {
    margin: 5px;
}

#raisecomplaint {
    display: none;
}


.no-image {
    background-color: #ddd;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    font-weight: bold;
    font-size: 1.2rem;
}

.close{
    background-color: red;
}