<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/admin.css">

    <title>Admin Page</title>
</head>
<body>
    <a href="/home" style="color:black; text-decoration: none;">
      <button class="btn btn-danger" style="margin: 25px;">Go User</button>
    </a>

    
    <div class="contents" >


      <div class="content" onclick="window.location.href='/admin/lostandfound'">
        <span>
          <img src="./homeImages/lost-and-found.png" alt="">
        </span>
        <div class="content-desc">
          <h3>Lost & Found</h3>
          <p>Find all the details about your academic, get latest sylabus, PYQs and Notes from your seniors</p>
        </div>
      </div>
      

      <div class="content" onclick="window.location.href='/admin/nitapstore/requests'">
        <span>
          <img src="./homeImages/buy.png" alt="">
        </span>
        <div class="content-desc">
          <h3>Buy & Sell</h3>
          <p>Find all the details about your academic, get latest sylabus, PYQs and Notes from your seniors</p>
        </div>
      </div>

      <div class="content" onclick="window.location.href='/admin/nitapstore/allProducts'">
        <span>
          <img src="./homeImages/buy.png" alt="">
        </span>
        <div class="content-desc">
          <h3>All Products on sale</h3>
          <p>List of all the items that are on sale</p>
        </div>
      </div>

      <!-- //renting -->
       <div class="content" onclick="window.location.href='/admin/Rental/verification'">
        <span>
          <img src="./homeImages/rent.png" alt="">
        </span>
        <div class="content-desc">
          <h3>Renting</h3>
          <p>Approve or reject the requests for rent, see all the items available for renting</p>
        </div>
      </div>


    </div>
</body>
</html>