<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link rel="stylesheet" href="/home2.css">
</head>

<body>

  <header class="header">

    <a href="#" class="logo">Circle</a>
    <input type="checkbox" name="" id="check">
    <label for="check" class="icons">
      <img src="./homeImages/menu.png" id="menu-icon" alt="">
      <img src="./homeImages/cross.png" id="close-icon" alt="">
    </label>
    <nav class="navbar">


      <a href="#home" style="--i:0">Home</a>
      <a href="#aboutUs" style="--i:1">About Us</a>
      <a href="#services" style="--i:2">Events</a>
      <a href="#logginOut" style="--i:3" id="logout-btn">
        <form action="/logout" method="post">
          <button type="submit" style="font-weight: 500; background: none;">Log In</button>
        </form>
      </a>
      <a href="/admin" id="Admin-btn" style="--i:4">GoAdmin</a>

    </nav>
  </header>
  <section class="home" id="home">
    <div class="features">
      <h2 id="f-h2">services</h2>
      <p id="fp">Find solution to all your problems</p>
    </div>

    <div class="contents">

      <div class="content" onclick="window.location.href='/academic'">
        <span>
          <img src="./homeImages/icons8-school-100.png" alt="">
        </span>
        <div class="content-desc">
          <h3>Academics</h3>
          <p>Find all the details about your academic, get latest sylabus, PYQs and Notes from your seniors</p>
        </div>
      </div>


      <div class="content" onclick="window.location.href='/LostandFound'">
        <span>
          <img src="./homeImages/lost-and-found.png" alt="">
        </span>
        <div class="content-desc">
          <h3>Lost & Found</h3>
          <p>Find anything? Or lost anything? put a request here and help yourself and others find their belongings</p>
        </div>
      </div>

      <div class="content" onclick="window.location.href='/NitapStore'">
        <span>
          <img src="./homeImages/buy.png" alt="">
        </span>
        <div class="content-desc">
          <h3>Buy & Sell</h3>
          <p>Store where you can buy anything that is being sold by othes, Or sell by yourself</p>
        </div>
      </div>

      <div class="content" onclick="window.location.href='/RentalServices'">
        <span>
          <img src="./homeImages/rent.png" alt="">
        </span>
        <div class="content-desc">
          <h3>Renting</h3>
          <p>Need Something for some time? take a look you may find it here.</p>
        </div>
      </div>




    </div>






  </section>
  <div id="head-1">
    <h1>NOTICES & CALANDER</h1>
  </div>
  <section id="">
    <div id="Notices">
      <div class="notice">
        <h3>Bus Timings</h3>
        <table>
          <thead>
            <tr>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8:50 AM</td>
            </tr>
            <tr>
              <td>9:00 AM</td>
            </tr>
            <tr>
              <td>9:50 AM</td>
            </tr>
            <tr>
              <td>10:00 AM</td>
            </tr>
            <tr>
              <td>12:50 PM</td>
            </tr>
            <tr>
              <td>1:00 PM</td>
            </tr>
            <tr>
              <td>1:50 PM</td>
            </tr>
            <tr>
              <td>2:00 PM</td>
            </tr>
            <tr>
              <td>5:00 PM</td>
            </tr>
            <tr>
              <td>6:00 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="notice">
        <div class="callender">
          <h1>Academic callender</h1>
          <div class="callenders">
            This is our academic calander for july-dec 2025, download here
          </div>
          <a href="NITAP_Academic_Calandar_2025.pdf" class="btn" download> <i class="fa-solid fa-download"></i>
            Download</a>
        </div>
        <div class="callender">
          <h1 style="color: brown;">Taxi Service</h1>
          <div class="callenders">
            Book Taxi Services from college to itanagar, airport or satation.
          </div>
          <a href="tel:+91" class="btn" style="background: rgb(25, 237, 237);"> Book Now</a>
        </div>
      </div>

      <!-- //emergency contacts -->
      <div class="notice">
        <h3>Emergency Contacts</h3>
        <table id="emergency-table" class="emergency-table">
          <thead>
            <tr>
              <th id="col-name">Name</th>
              <th id="col-phone">Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Name" id="admin1-name">Ambulance</td>
              <td data-label="Phone" id="admin1-phone">
                <a href="tel:+919402424756">9402424756</a>
                <a href="tel:+918416045885">8416045885</a>
              </td>
            </tr>
            <tr>
              <td data-label="Name" id="admin2-name">Nurse</td>
              <td data-label="Phone" id="admin2-phone">
                <a href="tel:+917628989883">7628989883 </a>
                <a href="tel:+916909910122">6909910122 </a>
              </td>
            </tr>
            <tr>
              <td data-label="Name" id="admin3-name">Transportation</td>
              <td data-label="Phone" id="admin3-phone">
                <a href="tel:+919487810479">+91 9487810479</a>
              </td>
            </tr>
            <tr>
              <td data-label="Name" id="admin3-name">HMC Office</td>
              <td data-label="Phone" id="admin3-phone">
                <a href="tel:+919436685537">+91 9436685537</a>
              </td>
            </tr>
            
            <tr>
              <td data-label="Name" id="admin3-name">Security I/C</td>
              <td data-label="Phone" id="admin3-phone">
                <a href="tel:+919402855977">+91 9402855977</a>
              </td>
            </tr>

            <tr>
              <td data-label="Name" id="admin3-name">Cleaning S/V</td>
              <td data-label="Phone" id="admin3-phone">
                <a href="tel:+919233494428">+91 9233494428</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>



    </div>
  </section>


  <section id="services">
    <div class="heading">
      <h1><span>College Events</span></h1>
      <h2>What's live in campus</h2>
    </div>

    <div class="projects-grid">

      <a class="project-card"
        style="background-image: url('./logo/WhatsApp\ Image\ 2025-08-31\ at\ 15.57.56_413f08d7.jpg');">
        <div class="card-overlay">
          <div class="card-text">
            <h2 class="project-title">Sports Day</h2>
            <p class="project-desc">Sports day cellebration on 30th August</p>
          </div>

        </div>
      </a>

      <a class="project-card" style="background-image: url('./logo/ganesh\ puja.jpg');">
        <div class="card-overlay">
          <div class="card-text">
            <h2 class="project-title">Ganesh Puja at our college</h2>
            <p class="project-desc">Cellebration of Ganesh Puja in our college.</p>
          </div>

        </div>
      </a>

      <a class="project-card" style="background-image: url('./logo/download.jpeg');">
        <div class="card-overlay">
          <div class="card-text">
            <h2 class="project-title">Induction Program</h2>
            <p class="project-desc">Welcome of first year students</p>
          </div>

        </div>
      </a>
      <!-- Project Card End -->
    </div>
  </section>


  <!-- //footer -->

  <footer id="aboutUs">
    <div class="footer-container">
      <div class="footer-about">
        <h3><a href="https://www.nitap.ac.in/" target="_blank" style="text-decoration: none; color:white">NIT Arunachal
            Pradesh</a></h3>
        <p> Jote, District: Papum Pare,
          Arunachal Pradesh, India - 791113</p>
      </div>

      <div class="footer-links">
        <h4>Help & Support</h4>
        <ul>
          <li><a target="_blank" href="mailto:cseweb@nitap.ac.in">Join Us</a></li>
          <li><a target="_blank" href="mailto:cseweb@nitap.ac.in">Become Admin</a></li>
          <li><a target="_blank" href="https://github.com/souravsharma22/NITAP_Circle/issues">Report Bug</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a target="_blank" href="/home">Home</a></li>
          <li><a target="_blank" href="https://nitap.ac.in/section/home?section=2621688fb2">T&P Cell</a></li>
          <li><a target="_blank" href="https://nitap.ac.in/section/home?section=5f27d55abd">StratUp Cell</a></li>
          <li><a target="_blank" href="https://www.nitap.ac.in/quick/CodingClub/home/">Coding Club</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Contact Us</h4>
        <ul>
          <li><a href="mailto:cseweb@nitap.ac.in" style="text-decoration: none; color:white">Email Us</a></li>
          <li><a href="tel:+919876543210"> +91 6204 882 887</a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/sourav-sharma-12b589297/">Linked In</a></li>
        </ul>
      </div>

    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 NIT Arunachal Pradesh. All Rights Reserved.</p>
    </div>
  </footer>

  


  <!-- //end of footer -->

  <script src="/home.js"></script>
</body>

</html>