<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost & Found</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/loss.css">

</head>

<body>
    <header class="header">

        <a href="/home" class="logo">Circle</a>
        <input type="checkbox" name="" id="check">
        <label for="check" class="icons">
            <img src="search.png" id="menu-icon" alt="">
            <img src="./homeImages/cross.png" id="close-icon" alt="">
        </label>
        <nav class="navbar">
            <form class="search-form">
                <input list="searchOptions" name="search" placeholder="Search items..." id="search-input" data-search required>
                <datalist id="searchOptions">
                    <option value="Stationery">
                    <option value="Technical">
                    <option value="Utility">
                    <option value="Accessories">
                    <option value="Art">
                    <option value="Food">
                </datalist>
                <button type="search" id="search-btn" class="btn"
                >Search</button>
            </form>


    </header>

    <!-- Hero Section -->
    <section class="hero">
        <p></p>
        <p></p>
        <p></p>
        <h1>Lost & Found </h1>
        <p>Found something! list found so that owner can claim it. </p>
        <p> Or lost anything make a lost request</p>
        <a href="#listFoundItem" id="FoundItem-form" class="btn">List item you found</a>
        <p></p>
        <a href="#listLostItem" id="LostItems-form" class="btn">Put Loss Request</a>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <div id="items">
            <a href="#found-items-container" id="found-items" class="btn">Found Items</a>
            <p></p>
            <a href="#lost-items-container" id="lost-items" class="btn">Lost Items</a>
            <p></p>
            <a href="/LostandFound/myRequests"  class="btn btn-danger" style="background: brown;">See All Your Requests </a>
        </div>

    </section>

    <!-- List Your Item Form -->
    <section id="form-found" class="form-section">
        <div id="listFoundItem">
            <h2>List found item so that owner can claim it</h2>
            <form action="/FoundListing" method="post" enctype="multipart/form-data" id="sellForm">
                <input type="text" name="itemName" placeholder="Item Name" required>
                <input type="text" name="desc" placeholder="Description" required>
                <input type="text" name="foundLocation" placeholder="Found Location" required>
                <input type="text" name="contact" placeholder="Phone No" required pattern="[0-9]{10}" maxlength="10"
                    title="Please enter a valid 10-digit phone number" />
                <select id="category" name="category" required>
                    <option value="stationery">Stationery</option>
                    <option value="technical">Technical</option>
                    <option value="utility">Utility</option>
                    <option value="accessories">Accessories</option>
                    <option value="art">Art</option>
                    <option value="food">Food</option>
                </select>

                <input type="file" name="image" accept="image/*">

                <div class="form-buttons">
                    <button type="submit" class="btn">List on Found Items</button>
                    <button type="button" id="closeButtonfound" class="btn close">Close Application</button>
                </div>
            </form>
        </div>
    </section>
    <section id="form-lost" class="form-section">
        <div id="listLostItem">
            <h2>Give details of item you LOST in details </h2>
            <form action="/LostListing" method="post" enctype="multipart/form-data" id="sellForm">
                <input type="text" name="itemName" placeholder="Item Name" required>
                <input type="text" name="desc" placeholder="Description" required>
                <input type="text" name="lossLocation" placeholder="Losing Location" required>
                <input type="text" name="contact" placeholder="Phone No" required pattern="[0-9]{10}" maxlength="10"
                    title="Please enter a valid 10-digit phone number" />
                <select id="category" name="category" required>
                    <option value="stationery">Stationery</option>
                    <option value="technical">Technical</option>
                    <option value="utility">Utility</option>
                    <option value="accessories">Accessories</option>
                    <option value="art">Art</option>
                    <option value="food">Food</option>
                </select>

                <input type="file" name="image" accept="image/*">

                <div class="form-buttons">
                    <button type="submit" class="btn">Post Lost Request</button>
                    <button type="button" id="closeButtonlost" class="btn close">Close Application</button>
                </div>
            </form>
        </div>
    </section>

    <section id="found-section">
        <div class="row" id="found-items-container">
            <h1>List of items found</h1>

        </div>
    </section>

    <section id="lost-section">
        <div class="row" id="lost-items-container">
            <h1>List of Lost Item Requests</h1>
        </div>
    </section>

    <script src="/loss.js"></script>
</body>

</html>