<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/personalReq.css">
    <title>My Requests</title>
</head>
<body>
    <div id="heading">
        <a href="/LostandFound" id="backbtn" class="btn btn-danger" style="background: rgb(50, 216, 245); margin:25px;">Go Back</a>
        <h1>List of all the Requests made by You</h1>
    </div>
    <h2>Your Found List</h2>
    <div class="row" id="myfoundrequests">
        
    </div>
    <h2>You Lost List</h2>
    <div class="row" id="mylostrequests">
        
    </div>


    <script src="/personalReq.js"></script>
</body>
</html>