<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentIt NITAP </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/rent.css">

</head>

<body>
    <header class="header">

        <a href="/home" class="logo">Circle</a>
        <input type="checkbox" name="" id="check">
        <label for="check" class="icons">
            <img src="./homeImages/menu.png" id="menu-icon" alt="">
            <img src="./homeImages/cross.png" id="close-icon" alt="">
        </label>
        <nav class="navbar">

            <a href="/RentalServices" style="--i:0">Store</a>
            <a href="#listYourItem" id="lend-btn" style="--i:1">Put on Rent</a>
            <a href="#myRentItems" id="my-products" style="--i:2">My Products</a>
            <a href="#aboutUs" style="--i:3">Contact</a>



        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero" id="hero">
        <h1>Rental Services</h1>
        <p>The things you are looking for might be nearby..</p>
        <form class="search-form" id="search-section">
            <input list="searchOptions" name="search" id="search-input" placeholder="Search items..." data-search required>
            <datalist id="searchOptions">
                <option value="Stationery">
                <option value="Technical">
                <option value="Utility">
                <option value="Accessories">
            </datalist>
            <button type="search" class="btn" id="search-btn">Search</button>
        </form>
    </section>

    <!-- List Your Item Form -->
    <section id="form" class="form-section">
        <div id="listYourItem">
            <h2>List your item for RENT</h2>
            <form action="/lendProduct" method="post" enctype="multipart/form-data" id="sellForm">
                <input type="text" name="itemName" placeholder="Item Name" required>
                <input type="text" name="desc" placeholder="Description" required>
                <input type="text" name="hostel" placeholder="Hostel&Room" required>
                <input type="text" name="contact" placeholder="Phone No" required pattern="[0-9]{10}" maxlength="10"
                    title="Please enter a valid 10-digit phone number" />
                <input type="text" name="price" placeholder="Price: /h or /day" required>

                <select id="category" name="category" required>
                    <option value="Stationery">Stationery</option>
                    <option value="technical">Technical</option>
                    <option value="utility">Utility</option>
                    <option value="accessories">Accessories</option>
                    <option value="vehicle">Vehicle</option>
                </select>

                <input type="file" name="image" accept="image/*">

                <div class="form-buttons">
                    <button type="submit" class="btn">Add on Rent</button>
                    <button type="button" id="closeButton" class="btn close">Close Application</button>
                </div>
            </form>
        </div>
    </section>

    <section id="Products">
        <div class="row"  id="myRentItems">

        </div>
    </section>

    <section id="product-section">
        <div class="row" id="rentproductContainer"></div>
    </section>
    
  <!-- //footer -->

  <footer id="aboutUs">
    <div class="footer-container">
      <div class="footer-about">
        <h3><a href="https://www.nitap.ac.in/" target="_blank" style="text-decoration: none; color:white">NIT Arunachal
            Pradesh</a></h3>
        <p> Jote, District: Papum Pare,
          Arunachal Pradesh, India - 791113</p>
      </div>

      <div class="footer-links">
        <h4>Help & Support</h4>
        <ul>
          <li><a target="_blank" href="mailto:cseweb@nitap.ac.in">Join Us</a></li>
          <li><a target="_blank" href="mailto:cseweb@nitap.ac.in">Become Admin</a></li>
          <li><a target="_blank" href="https://github.com/souravsharma22/NITAP_Circle/issues">Report Bug</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a target="_blank" href="/home">Home</a></li>
          <li><a target="_blank" href="https://nitap.ac.in/section/home?section=2621688fb2">T&P Cell</a></li>
          <li><a target="_blank" href="https://nitap.ac.in/section/home?section=5f27d55abd">StratUp Cell</a></li>
          <li><a target="_blank" href="https://www.nitap.ac.in/quick/CodingClub/home/">Coding Club</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Contact Us</h4>
        <ul>
          <li><a href="mailto:cseweb@nitap.ac.in" style="text-decoration: none; color:white">Email Us</a></li>
          <li><a href="tel:+919876543210"> +91 6204 882 887</a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/sourav-sharma-12b589297/">Linked In</a></li>
        </ul>
      </div>

    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 NIT Arunachal Pradesh. All Rights Reserved.</p>
    </div>
  </footer>
    <script src="/rent.js"></script>
</body>

</html>