<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LossFound Verification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/verifyloss.css">
</head>
<body>
    <h1>These are the listed loss Requests waiting for the admin varification</h1>
    <div id="lost-items">
    </div>
    <h1>Found items list for verification</h1>
    <div id="found-items">
    </div>
    <div id='listbuttons'>
        <a href="#totallossRequest" class="btn" id="foundlistbtn">Found List</a>
        <a href="#totalfoundlist" class="btn" id="losslistbtn">Lost List</a>
    </div>
    <div id="totallossRequest"></div>
    <div id="totalfoundlist"></div>
    <script src="/verifyloss.js"></script>
</body>
</html>